@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

#title{
  font-family: 'Montserrat', sans-serif;
}

#main{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
